doctype html
html
  head
    meta(charset="utf-8")
    link(rel="stylesheet" href="/css/styles.css")
    title Accueil
  body
    include includes/menu
    h1 Accueil
    script(src="/js/script.js")        
