doctype html
html
  head
    meta(charset="utf-8")
    link(rel="stylesheet" href="/css/styles.css")
    title Services
  body
    include includes/menu
    h1 Services pour #{ username }
    script(src="/js/script.js")        
