doctype html
html
  head
    meta(charset="utf-8")
    link(rel="stylesheet" href="/css/styles.css")
    title Accueil
  body
    include includes/menu
    h1 Todos

    .new-todo
      input(type="text" placeholder="Nouvelle tâche...")
      button Envoyer

    .todos
      each todo in todos
        div(class=todo.done?'done' : '')= todo.text

    script(src="/js/script.js")        
